* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #31131b;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    padding: 30px;
    height: 250px;
    position: relative;
    color: rgb(213, 190, 160);
}

.texte-header {
    display: flex;
    text-align: center;
    align-items: center;
    max-width: 300px;
}

.gif {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.gif1 {
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
}

.liens {
    background-color: #31131b;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 30px;
    align-items: center;
    height: 25px;
    top: 0%;
    left: 0%;
    font-size: 35px;
    display: flex;
    justify-content: space-around;
}

a {
color: rgb(213, 190, 160);
text-decoration: none;
font-weight: bold;
}

a:hover {
color: #d9e2c3;
text-decoration: underline;
}

.body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url(images/parrain.jpg);
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #31131b;
    height: 100%;
}

.classique {
    color: rgb(213, 190, 160);
    text-align: center;
    text-shadow: #31131b;
    font-size: 30px;
}

.affiche-accueil {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    margin: 30px;
    gap: 20px;
}

.affiche-accueil img {
    height: 450px;
    border-radius: 8px;
    width: 300px;
    object-fit: cover;
    transition: 0.5;
}

.affiche-accueil img:hover {
    width: 120%;
    cursor: pointer;
}


.fond {
    width: 100%;
    position: absolute;
    z-index: -1;
    background-image: url(images/fight-club2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

.page-film {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;

}

.page-film-wrap{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
width: 100%;
gap: 20px;
padding: 20px;
}

.video {
    border-radius: 20px;
}

.texte-page {
    font-size: 16px;
    background-color: #31131b;
    color: rgb(213, 190, 160);
    padding: 20px;
    border-radius: 20px;
    width: 40%;
}

.distribution {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    padding: 40px 20px;
    background-color: rgba(25, 24, 24, 0.349);
    color: rgb(213, 190, 160);
}

.distribution h2 {
    margin-bottom: 30px;
    font-size: 2rem;
}

.section-distribution {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.acteurs {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-direction: column;
}

.acteurs {
    text-align: center;
}

.acteurs img {
    width: 200px;
    height: auto;
    border-radius: 20px;
    display: block;
    margin: 0 auto;
}

.acteurs p {
    margin-top: 10px;
    font-weight: bold;
}

.footer {
    background-color: #31131b;
    height: 320px;
    padding: 40px;
    color: rgb(213, 190, 160);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
}

.texte-footer {
    font-size: 20px;
    max-width: 50%;
}

.reseaux {
    margin-top: 10px;
}

.reseaux img {
    width: 30px;
    margin-right: 10px;
    vertical-align: middle;
}

.texte-footer2 a {
    display: block;
    margin: 20px;
    text-decoration: none;
    font-weight: bold;
}


.body2 {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url(images/séries/dexter.jpg);
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #3b0205;
    height: 100%;
}

.header2 {
    background-color: #3b0205;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    padding: 30px;
    height: 250px;
    position: relative;
    color: rgb(213, 190, 160);
}

.liens2 {
    background-color: #3b0205;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 30px;
    align-items: center;
    height: 25px;
    top: 0%;
    left: 0%;
    font-size: 35px;
    display: flex;
    justify-content: space-around;
}

.fond2 {
    width: 100%;
    position: absolute;
    z-index: -1;
    background-image: url(images/la-ligne-verte2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    }

.footer2 {
    background-color: #3b0205;
    height: 320px;
    padding: 40px;
    color: rgb(213, 190, 160);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
}
