@import url(<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Story+Script&display=swap" rel="stylesheet">);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #31131b;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    font-family: "Fascinate Inline", system-ui;
    padding: 30px;
    height: 250px;
    position: relative;
    color: rgb(213, 190, 160);
}

.texte-header {
    display: flex;
    text-align: center;
    align-items: center;
    max-width: 300px;
    font-family: "Fascinate Inline", system-ui;
}

.gif {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.gif1 {
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
}

.liens {
    background-color: #31131b;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 30px;
    align-items: center;
    height: 25px;
    top: 0%;
    left: 0%;
    font-size: 35px;
    font-family: "Fascinate Inline", system-ui;
    display: flex;
    justify-content: space-around;
}

a {
color: rgb(213, 190, 160);
text-decoration: none;
font-weight: bold;
}

a:hover {
color: #d9e2c3;
text-decoration: underline;
}

.body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url(images/parrain.jpg);
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #31131b;
    height: 100%;
}

.classique {
    color: rgb(213, 190, 160);
    text-align: center;
    font-family: "Fascinate Inline", system-ui;
    font-size: 30px;
}

.affiche-accueil {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    margin: 30px;
    gap: 20px;
}

.affiche-accueil img {
    height: 450px;
    border-radius: 8px;
    width: 300px;
    object-fit: cover;
    transition: 0.5;
}

.affiche-accueil img:hover {
    width: 120%;
    cursor: pointer;
}


.fond {
    width: 100%;
    position: absolute;
    z-index: -1;
    background-image: url(images/fight-club2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.page-film {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    font-size: 30px;
    font-family: "Fascinate Inline", system-ui;
}

.page-film-wrap{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
width: 100%;
gap: 20px;
padding: 20px;
}

.video {
    border-radius: 20px;
}

.texte-page {
    font-size: 16px;
    font-family: "Fascinate Inline", system-ui;
    background-color: #31131b;
    color: rgb(213, 190, 160);
    padding: 20px;
    border-radius: 20px;
    width: 40%;
}

.distribution {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    padding: 40px 20px;
    background-color: rgba(25, 24, 24, 0.349);
    color: rgb(213, 190, 160);
    font-family: "Fascinate Inline", system-ui;
}

.distribution h2 {
    margin-bottom: 30px;
    font-size: 2rem;
}

.section-distribution {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.acteurs {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-direction: column;
}

.acteurs {
    text-align: center;
}

.acteurs img {
    width: 200px;
    height: auto;
    border-radius: 20px;
    display: block;
    margin: 0 auto;
}

.acteurs p {
    margin-top: 10px;
    font-weight: bold;
}

.footer {
    background-color: #31131b;
    height: 320px;
    padding: 40px;
    color: rgb(213, 190, 160);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
    font-family: "Fascinate Inline", system-ui;
}

.texte-footer {
    font-size: 20px;
    max-width: 50%;
    font-family: "Fascinate Inline", system-ui;
}

.reseaux {
    margin-top: 10px;
}

.reseaux img {
    width: 30px;
    margin-right: 10px;
    vertical-align: middle;
}

.texte-footer2 a {
    display: block;
    margin: 20px;
    text-decoration: none;
    font-weight: bold;
}


.body2 {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url(images/séries/dexter.jpg);
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #3b0205;
    height: 100%;
}

.header2 {
    background-color: #3b0205;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    padding: 30px;
    height: 250px;
    position: relative;
    color: rgb(213, 190, 160);
}

.liens2 {
    background-color: #3b0205;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 30px;
    align-items: center;
    height: 25px;
    top: 0%;
    left: 0%;
    font-size: 35px;
    font-family: "Fascinate Inline", system-ui;
    display: flex;
    justify-content: space-around;
}

.fond2 {
    width: 100%;
    position: absolute;
    z-index: -1;
    background-image: url(images/la-ligne-verte2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    }

.fond3 {
    width: 100%;
    position: absolute;
    z-index: -1;
    background-image: url(images/scarface2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    }

.fond4 {
    width: 100%;
    position: absolute;
    z-index: -1;
    background-image: url(images/pulp-fiction2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    }  
    
.fond5 {
    width: 100%;
    position: absolute;
    z-index: -1;
    background-image: url(images/edward2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    }    
    
.fond6 {
    width: 100%;
    position: absolute;
    z-index: -1;
    background-image: url(images/psychose1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    }   
    
    
    
.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Fascinate Inline", system-ui;
    background-image: url(images/séries/orange-mecanique.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.formulaire {
    padding: 30px;
    width: 420px;
    border-radius: 20px;
    border: 2px solid white;
    background-color: #d9e2c359;
}

.formulaire h1 {
    font-size: 30px;
    font-family: "Fascinate Inline", system-ui;
    color: #0e1301;
    margin-bottom: 20px;
}

.input-box {
    width: 100%;
    position: relative;
    margin-bottom: 25px;
}

.input-box input {
    width: 100%;
    padding: 15px;
    border-radius: 25px;
    outline: none;
    background-color: transparent;
    border: 2px solid white;
    color: rgb(34, 1, 1);
    padding-right: 40px;
}

.input-box input::placeholder {
    color: rgb(0, 0, 0);
}

.btn {
    width: 100%;
    padding: 15px;
    border-radius: 25px;
    outline: none;
    border: 0;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid transparent;
    transition: 0.5s;
}

.btn:hover {
    background-color: transparent;
    border: 2px solid rgb(214, 168, 28);
    color: rgb(195, 121, 11);
}

.footer2 {
    background-color: #3b0205;
    height: 320px;
    padding: 40px;
    color: rgb(213, 190, 160);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
    font-family: "Fascinate Inline", system-ui;
}
